.header {
    -fx-background-color: #0058a7;
    -fx-padding: 10;
}

.title-label {
    -fx-font-size: 20px;
    -fx-font-weight: bold;
    -fx-text-fill: white;
    -fx-padding: 5px;
    -fx-effect: dropshadow(gaussian, black, 1, 3, 0, 0);

}

.user-label {
    -fx-font-size: 15px;
    -fx-font-weight: bold;
    -fx-text-fill: #ffcc33;
    -fx-effect: dropshadow(three-pass-box, black, 1, 1, 1, 1);

}

.message-box {
    -fx-font-size: 14px;
}

.online-users-label {
    -fx-text-fill: black;
    -fx-font-size: 14px;
    -fx-font-weight: bold;
}

.message-box-header {
    -fx-font-size: 15px;
    -fx-font-weight: bold;
    -fx-text-fill: black;
    -fx-padding: 5px;
}

.send-button {
    -fx-color: #ffffff;
    -fx-padding: 5px 20px;
    -fx-background-color: linear-gradient(to bottom, #003e6d 0%, #396e8f 3%, #5c93c8 35%, #396e8f 97%, #003e6d 100%);
    -fx-font-size: 14px;
    -fx-border-radius: 3px;
    cursor: hand;
    -fx-opacity: 1;
}

.send-button:hover {
    -fx-cursor: hand;
    -fx-opacity: 0.8;
}

.suscribe-button{
    -fx-background-color: linear-gradient(to bottom, #ffcc33 0%, #F0EAD6 100%);

}

.suscribe-button:hover {
    -fx-cursor: hand;
    -fx-opacity: 0.8;
}