/* Estilos para el encabezado */
.header {
    -fx-background-color: #3F51B5;
    -fx-padding: 10px;
}

.header Label {
    -fx-text-fill: white;
    -fx-font-size: 20px;
}

/* Estilos para el mensaje de chat */
.message-box {
    -fx-font-size: 14px;
}

/* Estilos para el botón de enviar */
.send-button {
    -fx-font-size: 14px;
}

/* Estilos para la etiqueta de usuarios en línea */
.online-users-label {
    -fx-text-fill: #fc6747;
    -fx-font-size: 14px;
}

/* Estilos para la lista de usuarios */
.user-list {
    -fx-border-image-width: 0;
}
